<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OMS" parallel="methods" thread-count="1" verbose="2">

    <listeners>
        <listener class-name="com.oms.listeners.TestListener" />
    </listeners>

    <test name="OMS_SOFTWARE_AUTOMATION Regression">

        <classes>
            <class name="com.OMS.test.Melbourne.BannerMessages" />
        </classes>
    </test>

</suite>